@import-normalize;

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  background: linear-gradient(to right, #ff7e5f, #feb47b)
}

.nav-button {
  width: 15%;
  height: 50px;
  margin: 15px;
  border-radius: 15px;
  background-color: aquamarine;
}

.modal-backdrop {
  width: 70%;
  height: 300px;
  background-color: black;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}